body {
  background-color: #2d2013;
}
#navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  font-family: "Open Sans", sans-serif;
  align-items: center;
  font-size: 18px;
}
#navbar > h3 > a {
  color: rgb(254, 254, 254);
}
h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 39.6px;
  color: rgb(255, 255, 255);
  text-align: center;
  word-spacing: 0px;
}
form {
  width: 30%;
  margin: auto;
  font-family: "Open Sans", sans-serif;
  color: white;
  border: 2px solid white;
  font-size: 20px;
  display: grid;
  gap: 10px;
  text-align: center;
  padding: 10px;
  border-radius: 7px;
}

form > input {
  width: 80%;
  font-family: "Open Sans", sans-serif;
  margin: auto;
  font-size: 20px;
}
button {
  width: 50%;
  margin: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  border-radius: 7px;
}
#navbar > h3 {
  color: rgb(254, 254, 254);
}
